/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Orbitron';
    src: url('FONT/Orbitron-Bold.ttf') format('truetype');
}

/* Background */
div.head {
    background-image: url('BAHAN/BACKGROUND.JPG');
    padding: 30px;
}

div.body {
    background-image: url('BAHAN/BACKGROUND.JPG');
    padding: 50px;
}

/* Text */
h1 {
    color: white;
    text-align: center;
    font-size: px;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: 'Orbitron';
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: white;
}

/* Navigation */
nav {
    color: white;
    text-align: center;
}

.navigasi:link {
    color: white;
    padding: 14px 20px;
}

/* Button */
button {
    background-color: hsl(12, 100%, 50%);
    color: white;
    border: none;
    font-size: 12px;
    font-family: 'Orbitron';
}

@font-face {
    font-family: 'Orbitron';
    src: url('FONT/Orbitron-Bold.ttf') format('truetype');
}

/* Terapkan ke semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}


/*navigation bar */

/* LINK */
.navbar a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px;
    transition: 0.3s;
}

/* GARIS BAWAH ANIMASI */
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.3s;
}

/* HOVER */
.navbar a:hover::after {
    width: 100%;
}

/* ACTIVE */
.navbar a.active::after {
    width: 100%;
}

.navbar a.active {
    color: #ff3300;
}